ion-card {
  --background: #ffffff;
}
ul {
  padding-inline-start: 0;
  list-style-type: none;
}
.ph-container {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}