<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <ion-fab
    vertical="bottom"
    horizontal="center"
    slot="fixed"
    *ngIf="isScrollEnabled"
    class="scrollToTop"
  >
    <ion-fab-button (click)="scrollToTop()">
      <ion-icon name="arrow-round-up"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Who am I?</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>
              Hi I’m Neil the creator of sixmwd.com (six minute walk distance).
              I’m a Product Designer with a background in cardiac nursing.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Why create this app?</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>
              I'm an ex-cardiac nurse that stumbled my way through coding and ux
              design.
            </p>

            <p>
              I’ve been constantly refining this small (but valuable) tool since
              working at Metro North Cardiac Rehabilitation in Brisbane,
              Australia.
            </p>
            <p>
              I built this because I wish I had this at the time I was working
              in Cardiac Rehabilitation.
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Contact</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>
              Being a designer I would love to hear feedback whether it’s
              positive or constructive
            </p>
            <ul>
              <li>
                <a
                  href="https://www.linkedin.com/in/neil-estandarte-128b0748/"
                  target="_blank"
                  ><ion-icon name="logo-linkedin"></ion-icon>&nbsp;LinkedIn</a
                >
              </li>
              <li>
                <a href="https://twitter.com/neilbo21" target="_blank"
                  ><ion-icon name="logo-twitter"></ion-icon>&nbsp;Twitter</a
                >
              </li>
              <li>
                <a
                  href="mailto:neilbo21+sixmwd@gmail.com?cc=neilbo@outlook.com&subject=Hi%20Neil&body=I-Love-6MWD"
                  target="_blank"
                  ><ion-icon name="mail"></ion-icon>&nbsp;Email</a
                >
              </li>
            </ul>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
