/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@mixin smooth-scrolling() {
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

ion-content {
  --background: var(--color-lite);
  @include smooth-scrolling();
}

form {
  ion-item {
    --padding-end: 0px;
    --padding-start: 0px;
    --inner-padding-end: 0px;
    --inner-padding-start: 0px;
    --background: var(--color-lite);
    --border-color: var(--color-lite);

    &.radio {
      --background: var(--color-white);
      --padding-start: 8px;
      --padding-end: 8px;
      --border-radius: 4px;
    }
  }
}

.form-error {
  color: var(--ion-color-danger);
}
ion-button {
  --border-radius: 30px;
}
ion-toast {
  --background: var(--ion-color-dark);
  --color: var(--color-white);
}

.split-pane-visible > .split-pane-side {
  min-width: 250px !important;
  max-width: 250px !important;
}

// TODO :: why doesn't this work?
// ion-toolbar .toolbar-background {
//   background: var(--color-lite);
// }

ion-segment-button {
  --color: var(--ion-color-primary);
  --background: var(--color-white);
  --background-hover: transparent;
  --margin-end: 0;
  --margin-start: 0;
}

ion-label.label {
  font-size: 1.2rem;
}
ion-infinite-scroll {
  height: 80vh;
}

ion-fab.scrollToTop {
  opacity: 0.7;
}
