<form [formGroup]="imperialForm" (change)="onFormChange()">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2" size-lg="8" offset-lg="2">
        <ion-grid>
          <ion-row>
            <ion-col size="6" size-lg="6">
              <ion-item>
                <ion-label position="stacked" class="label"
                  >Height (feet)</ion-label
                >
                <ion-input
                  type="text"
                  min="1"
                  formControlName="feet"
                  inputmode="numeric"
                  pattern="[0-9]*"
                  #height
                ></ion-input>
              </ion-item>
              <validation-error
                [control]="imperialForm.controls.feet"
                [fieldName]="'Height'"
              ></validation-error>
            </ion-col>
            <ion-col size="6" size-lg="6">
              <ion-item>
                <ion-label position="stacked" class="label"
                  >Height (inches)</ion-label
                >
                <ion-input
                  type="text"
                  min="1"
                  formControlName="inches"
                  inputmode="numeric"
                  pattern="[0-9]*"
                  #height
                ></ion-input>
              </ion-item>
              <validation-error
                [control]="imperialForm.controls.inches"
                [fieldName]="'Height'"
              ></validation-error>
            </ion-col>
            <ion-col size="12" size-lg="6">
              <ion-item>
                <ion-label position="stacked" class="label"
                  >Weight (lbs)</ion-label
                >
                <ion-input
                  type="tel"
                  min="1"
                  formControlName="lbs"
                  inputmode="numeric"
                  pattern="[0-9]*"
                ></ion-input>
              </ion-item>
              <validation-error
                [control]="imperialForm.controls.lbs"
                [fieldName]="'Weight'"
              ></validation-error>
            </ion-col>
            <ion-col size="12" size-lg="6">
              <ion-item>
                <ion-label position="stacked" class="label"
                  >Age (years)</ion-label
                >
                <ion-input
                  type="tel"
                  min="18"
                  formControlName="age"
                  inputmode="numeric"
                  pattern="[0-9]*"
                ></ion-input>
              </ion-item>
              <validation-error
                [control]="imperialForm.controls.age"
                [fieldName]="'Age'"
              ></validation-error>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-radio-group formControlName="gender">
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <ion-item class="radio">
                  <ion-label>Male</ion-label>
                  <ion-radio value="male" mode="md"></ion-radio>
                </ion-item>
              </ion-col>
              <ion-col size="6">
                <ion-item class="radio">
                  <ion-label>Female</ion-label>
                  <ion-radio value="female" mode="md"></ion-radio>
                </ion-item>
              </ion-col>
              <validation-error
                [control]="imperialForm.controls.gender"
              ></validation-error>
            </ion-row>
          </ion-grid>
        </ion-radio-group>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
<ion-grid>
  <ion-row>
    <!-- TODO :: Abstract into a ResultsComponent -->
    <ion-col size="12">
      <div *ngIf="showResults()" class="result-container">
        <p class="result">{{ displayResult() }}</p>

        <div *ngIf="!isNegativeDistance()">
          <ion-button type="button" (click)="copyToClipboard(getDistance())"
            >Copy to Clipboard</ion-button
          >
        </div>

        <p *ngIf="isNegativeDistance()">
          Hmmm...this distance is negative, check the form for incorrect values
        </p>
      </div>
      <div *ngIf="!showResults()" class="empty-message">
        Complete the form to see your predicted distance
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
