.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

ion-input {
  --background: var(--color-white);
  border-radius: 4px;
  padding: 0 4px !important;
}

ion-radio-group {
  ion-label {
    --background: var(--color-white);
  }
}