<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content (ionSlideDidChange)="onSlideChanged()">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-slides #welcomeSlides pager="true">
          <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button (click)="next()">
              <ion-icon name="arrow-forward-circle-outline"></ion-icon>
            </ion-fab-button>
          </ion-fab>
          <ion-fab vertical="bottom" horizontal="start" slot="fixed">
            <ion-fab-button (click)="back()" [disabled]="atBeginning">
              <ion-icon name="arrow-back-circle-outline"></ion-icon>
            </ion-fab-button>
          </ion-fab>
          <ion-slide *ngFor="let slide of slides">
            <ion-infinite-scroll>
              <div class="slide-content">
                <img [src]="slide.img" [alt]="slide.alt" />
                <p class="title">
                  {{slide.title}}
                </p>
                <p class="subTitle" [class.lastSlide]="activeIndex === 3">
                  {{slide.subTitle}}
                </p>
              </div>
              <div *ngIf="activeIndex !== 3">
                <a href="https://www.producthunt.com/posts/6mwd-app?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-6mwd-app" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=182173&theme=light" alt="6mwd App - Predicted Walking Distance Calculator for Nurses | Product Hunt Embed" style="width: 250px; height: 54px;" width="250px" height="54px" /></a>
              </div>
              <ion-button (click)="getStarted()" *ngIf="activeIndex === 3"
                >Get Started
              </ion-button>
            </ion-infinite-scroll>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
