.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

ion-item {
  .item-native {
    padding: 0;
  }
}

ion-input {
  --background: var(--color-white);
  border-radius: 4px;
  padding: 0 4px !important;
}

.result {
  text-align: center;
  font-size: 2rem;
  p {
    margin: 0;
  }
}
.empty-message {
  text-align: center;
  font-size: 1.4rem;
}